<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:content="http://purl.org/rss/1.0/modules/content/"
    xmlns:wfw="http://wellformedweb.org/CommentAPI/" xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:atom="http://www.w3.org/2005/Atom" xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
    xmlns:slash="http://purl.org/rss/1.0/modules/slash/">

    <channel>
        <title>{{ SITE_NAME }}</title>
        <atom:link href="{{SITE_URL}}/feed" rel="self" type="application/rss+xml" />
        <link>{{SITE_URL}}</link>
        <description>{{ page.seo.description }}</description>
        <lastBuildDate>Date +0530</lastBuildDate>
        <language>en-US</language>
        <sy:updatePeriod>hourly</sy:updatePeriod>
        <sy:updateFrequency>1</sy:updateFrequency>
        <generator>https://wordpress.org/?v=5.0.2</generator>
        {{#each latest_20}}
        <item>
            <title>{{ title }}</title>
            <link>{{ SITE_URL }}/article/{{ slug }}</link>
            <pubDate>Fri, 22 Apr 2022 16:35:03 +0530</pubDate>
            <dc:creator>
                <![CDATA[{{ SITE_NAME }}]]>
            </dc:creator>
            {{#each category}}
            <category>
                <![CDATA[{{.}}]]>
            </category>
            {{/each}}
            <guid isPermaLink="false">https://www.indiaknown.com/article/child-sitting-in-the-fridge-for-20-hours</guid>
            <description>
                <![CDATA[<p>फिलीपींस में आए भारी तूफान के बीच एक हैरान करने वाला मामला सामने आया है। यहां 11 साल का एक बच्चा अपनी जान बचाने के लिए फ्रिज के अंदर जाकर बैठ गया और भूस्खलन से बच गया। - child sitting in the fridge for 20 hours id=&quot;ram&quot;&gt;                 पुनः संशोधित  शुक्रवार,  22 अप्रैल 2022 (21:47 IST)                          फिलीपींस में आए भारी तूफान के बीच एक</p><p>The post <a rel="nofollow" href="https://www.indiaknown.com/article/child-sitting-in-the-fridge-for-20-hours">फ्रिज में 20 घंटे बैठा रहा बच्‍चा, तूफान से बचाई अपनी जान  </a> appeared first on <a rel="nofollow" href="https://www.indiaknown.com">India Known</a>.</p>]]>
            </description>
            <content:encoded>
                <![CDATA[  <div class="det_con_head">  <span class="date">  <!-- place--> <!-- place-->  <!--author -->   <!-- author -->  <!-- modification-date-->   पुनः संशोधित  शुक्रवार,  22 अप्रैल 2022 (21:47 IST)  <!-- modification-date-->   </span>  <div class="fonts_size">   <a  href="javascript:void(0);" id="decfont" onclick="decreaseTextSize()"><img src="/images/article/child-sitting-in-the-fridge-for-20-hours-article-image1.webp"></a>   <a href="javascript:void(0);" id="incfont" onclick="increaseTextSize()"><img src="/images/article/child-sitting-in-the-fridge-for-20-hours-article-image2.webp"></a>  </div> </div>  <div id="election-banner" class="containerelection"></div>   <!-- added by ph  Banners for position - Theme6 WD HI Before Article Content    -->   <div>  <a class="storyTags" href="https://www.indiaknown.com" target="_blank">फिलीपींस </a>में आए भारी <a class="storyTags" href="https://www.indiaknown.com" target="_blank">तूफान </a>के बीच एक हैरान करने वाला मामला सामने आया है। यहां 11 साल का एक बच्चा अपनी जान बचाने के लिए फ्रिज के अंदर जाकर बैठ गया और <a class="storyTags" href="https://www.indiaknown.com" target="_blank">भूस्खलन </a>से बच गया।  <br />  खबरों के अनुसार, फिलीपींस में शुक्रवार को आए भारी तूफान के दौरान एक 11 साल का बच्&zwj;चा अपने परिवार के साथ घर पर था। उसी बीच मिट्टी के भूस्खलन से उनके घर में पानी भर गया। उसी समय वह बच्चा अपनी जान बचाने के लिए फ्रिज के अंदर जाकर बैठ गया।<br />  <br />  हैरानी की बात ये रही कि <a class="storyTags" href="https://www.indiaknown.com" target="_blank">राहत और बचाव दल </a>को ये बच्चा करीब 20 घंटे के बाद ज़िंदा मिला। लेकिन इस दौरान उसका पैर टूट गया था। बाद में उसे प्राथमिक उपचार दिया गया और उसे अस्पताल ले जाया गया, जहां उसके टूटे पैर का ऑपरेशन किया गया। <div class="ad_horizontal wbx"><!-- /1031084/WD_HI_ROS_Left_336x280 --> <div id='WD_HI_ROS_Left_336x280' data-refreshRate= "30">   <script>   googletag.cmd.push(function () { googletag.display('WD_HI_ROS_Left_336x280'); if (typeof (pubwise) != 'undefined' && pubwise.enabled === true) { pwpbjs.que.push(function () { pwRegisterLazyLoad(gptadslots['WD_HI_ROS_Left_336x280'], 1, [50, 0, 50, 0], 0, 768, 2); }); } else { googletag.pubads().refresh([gptadslots['WD_HI_ROS_Left_336x280']]); } });   </script> </div></div>     <br></div> <div id="M598980ScriptRootC934507"> </div> <script src="https://jsc.mgid.com/h/i/hindi.webdunia.com.934507.js" async></script><div id="aniview_player"></div>   </div>  <div class="clearfix"></div>  <br>  <!----</p>]]>
            </content:encoded>
        </item>
        {{/each}}
    </channel>
</rss>