<div class="container">
    <div class="row">
        <div class="col-md-12 shadow61 white_bg mt-4 p-5">
            <h1 class="mb-5">Trending Story
            </h1>
            <div class="row ">
                {{#if trending_data}}
                {{#each trending_data}}
                <div class="col-md-2">
                    <div class="single_post type19 border-radious5 white_bg">
                        <div class="post_img">
                            <div class="img_wrap">
                                <a href="{{SITE_URL}}/web-story/trending/{{slug}}">
                                    <img class=" w-100 ilazy" src="{{SITE_URL}}/thumb/small\images/DEFAULT_IMG.webp"
                                        data-srcset="{{SITE_URL}}/thumb/small{{image}}" alt="{{title}} Web Story">
                                </a>
                            </div>
                        </div>
                        <div class="single_post_text pt-2 pb-2">
                            <p class="post-p"><a href="{{SITE_URL}}/web-story/trending/{{slug}}">{{title}} Web
                                    Story </a></p>
                        </div>
                    </div>
                </div>
                {{/each}}
                {{/if}}
            </div>
        </div>
    </div>
</div>