<div class="single_post type19 border-radious5 white_bg">
    <div class="post_img">
        <div class="img_wrap">
            <a href="{{ SITE_URL }}/web-story/article/{{post.slug}}">
                <img class="h_250 w-100 ilazy" src="{{SITE_URL}}/thumb/{{size}}\images/DEFAULT_IMG.webp"
                    data-srcset="{{ SITE_URL }}/thumb/{{size}}{{ post.image}}" alt="{{post.title}} Web Story">
            </a>
        </div>
    </div>
    <div class="single_post_text pt-2 pb-2">
        <p class="post-p"><a href="{{ SITE_URL }}/web-story/article/{{post.slug}}">{{post.title}} Web Story </a></p>
    </div>
</div>